{% extends 'main.html' %}
{% load static %}
{% block content %}
<section class="about_section">
    <div class="container-fluid  ">
        <div class="row">
            <div class="col-md-5 ml-auto">
                <div class="detail-box pr-md-3">
                    <div class="heading_container">
                        <h2>
                            We Provide Best For You
                        </h2>
                    </div>
                    <p>
                        Fitch is a dedicated e commerce platform ready to give you the best experience in shopping
                        online when it comes to technology gudgets. We also have a 24 hour customer care services
                    </p>
                </div>
            </div>
            <div class="col-md-6 px-0">
                <div class="img-box">
                    <img src="images/about-img.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content%}